<ion-side-menus enable-menu-with-back-views="false">
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable blue">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-chevron-left"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menu-content" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable green">
      <h1 class="title black">Catálogo completo</h1>
    </header>
    <ion-content class="has-header">

      <ion-list>

        <ion-item menu-close href="#/pearson/{{slug}}/about">
          <h2 class="lateral-menu-buttons">Acerca de Pearson</h2>
        </ion-item>
        <ion-item>
          <img ng-src="img/productos_impresos.png">
        </ion-item>


        <ion-item menu-close ng-repeat="category in categories"
                  href="#/pearson/{{category.Slug}}/books">
          <h2 class="lateral-menu-buttons">{{category.Name}}</h2>
        </ion-item>

        <ion-item menu-close href="#/pearson/{{DigitalProductCategory.Slug}}/books">
          <img ng-src="img/productos_digitales.png">
          <h2 class="lateral-menu-buttons">{{DigitalProductCategory.Name}}</h2>
        </ion-item>

        <ion-item menu-close href="#/pearson/{{slug}}/help">
          <h2 class="lateral-menu-buttons">Ayuda</h2>
        </ion-item>

      </ion-list>



      <!-- Commented until we can develop a web service
      <ion-list>
        <ion-item menu-close href="#/{{slug}}/signup">
          <h2 class="lateral-menu-buttons">Registrarse</h2>
        </ion-item>
      </ion-list>-->


      <ion-list>

      </ion-list>

    </ion-content>
  </ion-side-menu>

</ion-side-menus>
