<ion-view>

  <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="col"> </div>
    <div class="col">
      <div class="text-center">
      <img src="img/bounce-pearson.gif" style="  ">
      </div>
    </div>
    <div class="col"></div>
  </div>

  <ion-content>

    <div class="row responsive-lg height-section">
      <div class="list">
        <div class="item" ng-repeat="category in categories">
          <div class="top-slide-section {{category.StyleName}}_title">
            <h3 class="playfair blue-text {{category.StyleName}}_heading">{{category.Name}}</h3>
          </div>
          <div class="{{category.StyleName}} height-image">

          </div>
          <div class="section-slider-home">
            <div class="content-slider-quote">
              <blockquote>
                <p class="white opensans quote-text">{{category.ShortDescription}}</p>
              </blockquote>
              <hr class="blueline-slider" />
            </div>
            <a href="#/pearson/{{category.Slug}}/books">
              <span class="div-right">
                 <i class = "icon icon ion-ios-plus-outline" style="font-size:40px; color:white; font-weight:1.4em"></i>
                </span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
