<ion-view view-title="Catálogo / {{subcategory.name}}">

  <ion-content>

    <div class = "row responsive-md" style="background: #f3f3f3;">
      <div class="col" style="background:#fff">
        <div class=" ">
          <div class="row responsive-md">
            <div class="col col-80">
              <h3 class="detail-book-title">{{book.Title}}</h3>
              <p class="detail-book-author" ng-repeat="author in book.Authors" >{{author.Name}}</p>
            </div>

            <div class="col col-20 text-right">
              <span class="book-content-year">{{book.Year}}</span>
              <span class="book-content-area">{{book.Subcategory.Name}} </span>
            </div>
          </div>
          <div class="row">
            <div class="col">

            </div>
            <div class="col">
              <img class="image_book" ng-src="{{book.ImageSource}}" style="max-width:140px"/>
            </div>
            <div class="col col-bottom">
              <span class="book-cta" ng-repeat="attribute in book.Attributes">{{attribute.AttributeName}}</span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row" style="background: #f3f3f3;">
      <div class="col"  style="background:#fff">
        <ul class="tab">
          <li><a href="javascript:void(0)" class="tablinks" onclick="openInfo(event, 'Introduction')">Introducción</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openInfo(event, 'Content')">Contenido</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openInfo(event, 'Author')">Autor</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openInfo(event, 'Request')">Solicitar</a></li>
        </ul>

        <div id="Introduction" class="tabcontent">
          <h3 class="title-detail"></h3>
          <p>{{book.Description}}</p>
        </div>

        <div id="Content" class="tabcontent">
          <h3 class="title-detail">Contenido</h3>
          <p></p>
        </div>

        <div id="Author" class="tabcontent">
          <h3 class="title-detail">Autor</h3>
          <p></p>
        </div>

        <div id="Request" class="tabcontent">
          <h3 class="title-detail">Solicitar</h3>
          <p></p>
        </div>

      </div>
    </div>

  </ion-content>

</ion-view>
