<ion-view view-title="Catálogo / {{category.Name}}">

  <ion-content>

    <div class="row row-center">
      <div class="col">
        <img class="image-book-detail" ng-src="{{book.ImageSource}}" style="max-width:140px"/>
      </div>
    </div>
    <div class="row row-center">
      <div class="col">
        <h3 class="detail-book-title text-center">{{book.Title}}</h3>
      </div>
    </div>
    <div class="row row-center text-center">
      <div class="col">
        <span class="detail-book-author text-center" ng-repeat="author in book.Authors" >{{author.Name}}</span>
      </div>
    </div>
    <div class="row row-center text-center">
      <div class="col">
        <div class="detail-icon">
          <div ng-if="book.eCommerce != undefined">
            <a href="{{book.eCommerce}}" ng-click="window.open( this.href, '_blank', 'location=yes');">  <i class="icon ion-ios-cart">  </i> </a>
          </div>
          <i class="icon ion-ios-list" onclick="openInfo(event, 'infoDiv')"></i>
          <a href="#/pearson/{{category.Slug}}/books/detail/{{book.Id}}/request" >
            <i class="icon ion-ios-email"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="infoDiv" class="col tabcontent" style="background: #f3f3f3; padding: 20px 15px;" >
          <h4 ng-if="isNewBook == true">Introducción</h4>
          <p ng-bind-html="book.Introduction" ng-if="book.Introduction != undefined">{{book.Introduction}}</p>
          <h4>Contenido</h4>
          <p ng-bind-html="book.Content">{{book.Content}}</p>
          <h4>Ficha técnica</h4>
          <ul>
            <li ng-repeat="author in book.Authors">{{author.Name}}</li>
          </ul>
          <p>{{book.Edition}}</p>
          <p>{{book.Format}}</p>
          <p>Páginas : {{book.Pages}}</p>
          <p>ISBN</p>
          <ul>
            <li ng-repeat="isbnItem in book.ISBNs">{{isbnItem.ISBN}} {{isbnItem.Description}}</li>
          </ul>
          <ul class="tags">
            <li ng-if="book.Year != undefined"><span class="atributo-lista"> {{book.Year}} </span></li>
            <li ng-if="book.Subcategory != undefined"><span class="atributo-lista">{{book.Subcategory.Name}}</span> </li>
            <li ng-repeat="attribute in book.Attributes"> <span class="atributo-lista"> {{attribute.AttributeName}} </span></li>
          </ul>
      </div>
    </div>

  </ion-content>

</ion-view>
