<ion-view view-title="{{category.Name}}" class="white">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content padding>

    <div class="list list-inset buscar">
      <label class="item item-input buscador">
        <input type="text" placeholder="Buscar en {{category.Name | lowercase }}" ng-model="searchFilter">
        <i class="icon ion-search placeholder-icon"></i>
      </label>
    </div>

    <ion-slides options="sliderOptions" slider="swiper" style="max-height:200px">
      <ion-slide-page ng-repeat="book in books | limitTo : 10 ">
        <div class="box">
          <a href="#/pearson/{{category.Slug}}/books/detail/{{book.Id}}">
            <img ng-src="{{book.ImageSource}}"  ng-if="book.ImageSource.indexOf('.jpg') != 0"
                 class="image_slider_category"/>
          </a>
        </div>
      </ion-slide-page>
    </ion-slides>

    <div class="row responsive-lg">
      <div class="list content-books-div">
        <div class="item" ng-repeat="book in books | filter: searchFilter" style="border-style:none; padding:0; margin:0">
          <div class="col col-100">
            <a href="#/pearson/{{category.Slug}}/books/detail/{{book.Id}}">
              <div class="row box-title">
                <div class="col col-66 vertical-align-content">
                  <h3 class="book-title playfair">{{book.Title}}</h3>
                  <p class="book-area opensans">{{book.Subcategory.Name}}</p>
                  <p class="book-author opensans" ng-repeat="author in book.Authors | limitTo:2">{{author.Name}}</p>
                 <!-- <ul class="tags">
                    <li ng-repeat="attribute in book.Attributes" ><span class="atributo-lista">{{attribute.AttributeName}}</span></li>
                  </ul> -->
                  <ul class="tags">
                    <li><span class="more-info">+</span></li>
                  </ul>
                </div>

                <div class="col col-33">
                  <img ng-src="{{book.ImageSource}}"  ng-if="book.ImageSource.indexOf('.jpg') != 0"
                       style="max-width:120px"/>
                </div>

              </div>
            </a>
          </div>
        </div>
      </div>
    </div>



  </ion-content>

</ion-view>
