<ion-view view-title="{{category.Name}}" class="white">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content padding>

    <div class="row responsive-lg">
    <div class="list list-inset buscar">
      <label class="item item-input buscador">
        <input type="text" placeholder="Buscar en {{category.Name | lowercase }}" ng-model="searchFilter">
        <i class="icon ion-search placeholder-icon"></i>
      </label>
    </div>
    </div>

    <div class="row responsive-lg margin-vertical-slider">
      <div class="scrolling-wrapper-flexbox">
      <div ng-repeat="book in books | limitTo : 10 | orderBy: 'random'">
          <div class="box book-it">
            <a href="#/pearson/{{category.Slug}}/books/detail/{{book.Id}}">
              <img ng-src="{{book.ImageSource}}"  ng-if="book.ImageSource.indexOf('.jpg') != 0"
                   class="image_slider_category"/>
            </a>
          </div>
        </div>
      </div>
    </div>



    <div class="row responsive-lg">
      <div class="list content-books-div flip-book-list">
        <div class="item" ng-repeat="book in books | filter: searchFilter"  style="border-style:none; padding:0; margin:0">
          <div class="col col-100 col-sm-6 col-md-12 col-lg-6">
            <a href="#/pearson/{{category.Slug}}/books/detail/{{book.Id}}">
              <div class="row box-title">
                <div class="col col-60 vertical-align-content">
                  <h3 class="book-title playfair">{{book.Title}}</h3>
                  <p class="book-area opensans">{{book.Subcategory.Name}}</p>
                  <p class="book-author opensans" ng-repeat="author in book.Authors | limitTo:2">{{author.Name}}</p>
                 <!-- <ul class="tags">
                    <li ng-repeat="attribute in book.Attributes" ><span class="atributo-lista">{{attribute.AttributeName}}</span></li>
                  </ul> -->
                  <ul class="tags">
                    <li><span class="more-info">+</span></li>
                  </ul>
                </div>

                <div class="col col-40">
                  <img class="image-book-list" style="margin:0 auto;" ng-src="{{book.ImageSource}}"  ng-if="book.ImageSource.indexOf('.jpg') != 0"/>
                </div>

              </div>
            </a>
          </div>
        </div>
      </div>
    </div>



  </ion-content>

</ion-view>
