<ion-view view-title="Catálogo / {{subcategory.Name}}" class="white">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content >

    <div class="list list-inset buscar">
      <label class="item item-input buscador">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar en {{subcategory.Name | lowercase }}" ng-model="searchFilter">
      </label>
    </div>
    <div style="background: #fff">
      <div class="row">


      </div>
    </div>

    <div class="list row responsive-lg">

      <div class="item col col-50" ng-repeat="book in books | filter: searchFilter " style="border-style:none; padding:0; margin:0">
        <a href="/#/pearson/{{subcategory.Slug}}/books/detail/{{book.Id}}">
          <div class="row box-title">
            <div class="col col-25">
              <img ng-src="{{book.ImageSource}}"
                   style="max-width:120px"/>
            </div>
            <div class="col col-75">
              <h3 class="book-title">{{book.Title}}</h3>
              <p class="book-area">{{book.Subcategory.Name}}</p>
              <p class="book-author" ng-repeat="author in book.Authors | limitTo:2">{{author.Name}}</p>

              <span class="book-cta" ng-repeat="attribute in book.Attributes">{{attribute.AttributeName}}</span>
              <span class="more-info">Mas información </span>
            </div>
          </div>
        </a>
      </div>

    </div>

    <div class="row bottom-items">
      <div class="col-50 novedades">
        <div class="col col-center" style="padding: 0;">
          <img src="../img/catalogo-spot.svg" alt="">
        </div>
      </div>
      <div class="col-50 best-seller">
        <div class="col col-center" style="padding: 0;">
          <img src="../img/bestseller-spot.svg" alt="">
        </div>
      </div>
    </div>


  </ion-content>

</ion-view>
