<ion-view title="Más información">
  <ion-content scroll="true">

    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <div class = "row responsive-md blue" >
      <div class="col" >
        <div class=" ">
          <div class="row responsive-md">
            <div class="col"></div>
            <div class="col col-50">

              <h3 class="white text-center">¡Solicita más información!</h3>

              <p class="white text-center">Si eres Profesor, Docente, Coordinador o Bibliotecario y te interesa este material, llena los siguientes datos para solicitar más información o contactar con uno de nuestros Asesores de Servicios de Aprendizaje Pearson.</p>

              <form name="requestForm" novalidate="" ng-submit="requestBook(requestForm)" role="form">
                <div class="list">
                  <label class="item item-input item-float-label">
                    <span class="input-label input-label-registro">Nombre:</span>
                    <input type="text" ng-model="user.name" name="name" required>
                    <span class="error_input" ng-show="requestForm.name.$touched && requestForm.name.$invalid">
                      <span ng-show="requestForm.name.$error.required">Obligatorio</span>
                    </span>
                  </label>
                  <label class="item item-input">
                    <span class="input-label input-label-registro" >Correo:</span>
                    <input type="email" ng-model="user.email" name="email" required>
                    <span class="error_input" ng-show="requestForm.email.$touched && requestForm.email.$invalid">
                      <span ng-show="requestForm.email.$error.required || requestForm.email.$invalid">Obligatorio</span>
                    </span>
                  </label>
                  <label class="item item-input">
                    <span class="input-label input-label-registro" >Teléfono fijo:</span>
                    <input type="tel" ng-model="user.phone" name="phone" required>
                    <span class="error_input" ng-show="requestForm.phone.$touched && requestForm.phone.$invalid">
                      <span ng-show="requestForm.phone.$error.required || requestForm.phone.$invalid">Obligatorio</span>
                    </span>
                  </label>
                  <label class="item item-input">
                    <span class="input-label input-label-registro" >Teléfono celular:</span>
                    <input type="tel" ng-model="user.mobile" name="mobile">
                  </label>
                  <label class="item item-input">
                    <span class="input-label input-label-registro" >Universidad:</span>
                    <input type="text" ng-model="user.university" name="university">
                  </label>
                  <label class="item item-input">
                    <span class="input-label input-label-registro" >Materia que imparte:</span>
                    <input type="text" ng-model="user.subject" name="subject">
                  </label>
                  <label class="item item-input">
                    <span class="input-label input-label-registro" >Matrícula</span>
                    <input type="text" ng-model="user.enrollment" name="enrollment">
                  </label>
                  <label class="item item-input item-select">
                    <span class="input-label input-label-registro">Estado:</span>
                    <select ng-model="user.state">
                      <option value="No seleccionó estado" selected>Seleccionar...</option>
                      <option value="Aguascalientes">Aguascalientes</option>
                      <option value="Baja California">Baja California</option>
                      <option value="Baja California Sur">Baja California Sur</option>
                      <option value="Campeche">Campeche</option>
                      <option value="Coahuila">Coahuila</option>
                      <option value="Colima">Colima</option>
                      <option value="Chiapas">Chiapas</option>
                      <option value="Chihuahua">Chihuahua</option>
                      <option value="Ciudad de México">Ciudad de México</option>
                      <option value="Durango">Durango</option>
                      <option value="Guanajuato">Guanajuato</option>
                      <option value="Guerrero">Guerrero</option>
                      <option value="Hidalgo">Hidalgo</option>
                      <option value="Jalisco">Jalisco</option>
                      <option value="México">México</option>
                      <option value="Michoacán">Michoacán</option>
                      <option value="Morelos">Morelos</option>
                      <option value="Nayarit">Nayarit</option>
                      <option value="Nuevo León">Nuevo León</option>
                      <option value="Oaxaca">Oaxaca</option>
                      <option value="Puebla">Puebla</option>
                      <option value="Querétaro">Querétaro</option>
                      <option value="Quintana Roo">Quintana Roo</option>
                      <option value="San Luis Potosí">San Luis Potosí</option>
                      <option value="Sinaloa">Sinaloa</option>
                      <option value="Sonora">Sonora</option>
                      <option avlue="Tabasco">Tabasco</option>
                      <option value="Tamaulipas">Tamaulipas</option>
                      <option value="Tlaxcala">Tlaxcala</option>
                      <option value="Veracruz">Veracruz</option>
                      <option value="Yucatán">Yucatán</option>
                      <option value="Zacatecas">Zacatecas</option>
                    </select>
                  </label>
                  <label class="item item-input">
                    <span class="input-label input-label-registro" >Materia de interés: </span>
                    <input type="text" ng-model="user.bookInterested">
                  </label>
                  <label class="item item-input">
                    <span class="input-label input-label-registro" >Solicitud:</span>
                    <input type="text" ng-model="user.request" name="request">
                  </label>
                </div>

                <div class="padding text-center">
                  <button class="button cta-pearson" type="submit" ng-disabled="requestForm.$invalid">
                    Solicitar
                  </button>
                </div>

              </form>

            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
