<ion-view title="About us">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content scroll="false">
    <div class="box green_about_us">
      <div class="row">
        <div class="col col-50 col-offset-25 ">
          <div class="center_about_us">
            <img class="center_about_us" src="img/pictograma_about_us-01.png" >
          </div>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col fingerprint_about_us center_about_us ">
          <div class="margin_responsive_about_us">
            <h5 class="text-center"><a href="mailto:marketinghead@pearson.com" />marketinghead@pearson.com</a></h5>
            <h5 class="text-center"><a href="http://goo.gl/oJluNl" target="_blank">www.pearsonenespanol.com</a></h5>
            <h5 class="text-center"><a href="mailto:soporte@pearson.com" />soporte@pearson.com</a></h5>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
