<ion-view title="Acerca de Pearson">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content scroll="true">
    <div class="acerca_de_pearson">
      <div class="row-center">
        <div class="col col-50 col-offset-25 ">
          <div class="center_about_us" style="margin-top:20px">
            <img class="center_about_us" src="img/about_us_image.png" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <p>
            En Pearson, nuestra misión es ayudar a las personas a lograr progresos en sus vidas a través del

            aprendizaje. </p>

          <p> Somos la compañía de servicios de aprendizaje más grande del mundo, con más de 35 mil personas

            trabajando en más de 70 países. </p>

          <p> Proveemos una amplia gama de productos y servicios de aprendizaje, entre los que destacan:

            programas y contenidos impresos y digitales –en Inglés y español– para preescolar y hasta educación

            profesional, servicios de certificación y evaluación, y programas de desarrollo profesional y académico

            hechos a la medida con el objetivo de ayudar a las personas a alcanzar su verdadero potencial.</p>

          <p> Tenemos la gran oportunidad de impactar a nivel global colocando al aprendiz en el centro de

            todas nuestras acciones; aplicando la mejor tecnología, innovación y 100 años de experiencia que

            nos avalan en el mercado.</p>

          <p>  Pearson apoya activamente el desarrollo académico de más de 100 millones de estudiantes en los

            cinco continentes: más que cualquier otra compañía del sector privado. </p>

          <p>  Hemos sido elegidos por la ocde para desarrollar los marcos de referencia para las pruebas pisa

            2015 y 2018. </p>

          <p>   Nuestra certificación pte General ha sido elegida por el Tecnológico Monterrey como examen de

            Inglés de salida de sus 27 mil estudiantes en nivel preparatoria. </p>

          <p> Más de 300 mil maestros en diferentes partes del mundo han tomado nuestros cursos en línea, lo

            que ha impactado en el desarrollo educativo de más de 4 millones 500 mil estudiantes.</p>

          <p> Publicamos libros de los autores más experimentados y reconocidos en diversas disciplinas del

            conocimiento y en los idiomas con mayor importancia a nivel global. </p>

          <p>Más de 500 universidades en México usan recursos impresos y digitales de Pearson, entre las que

            destacan: Tecnológico de Monterrey, ITAM, Universidad Iberoamericana, Universidad Panamericana,

            Universidad Anahuac, UNAM, IPN, UAM, entre otras.</p>

          <p>Todas nuestras acciones están enfocadas a lograr un impacto medible en los resultados de

            los estudiantes. Nosotros nos referimos a esto como <span class="italic">efficacy</span>, por lo cual continuamente

            mejoramos nuestros productos y servicios para asegurar que tengan el mayor impacto positivo

            en nuestros aprendices.</p>

          <p> Nuestro principal objetivo es convertirnos en socios estratégicos de las instituciones comprometidas

            con la educación y la formación de mejores ciudadanos, escuchando las necesidades y

            desarrollando propuestas de servicios con las que se logren las metas esperadas.
          </p>
          <div class="text-center">
            <img src="img/always_learning.png" style="max-width:280px; margin-top:20px">
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
