<ion-view title="Contacto">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content scroll="false">
    <div class="box green_about_us">
      <div class="row-center">
        <div class="col col-50 col-offset-25 ">
          <div class="center_about_us" style="margin-top:50px">
            <img class="center_about_us" src="img/about_us_image.png" >
          </div>
        </div>
      </div>
      <div class="row row-bottom" style="bottom:50px; position: absolute">
        <div class="col"></div>
        <div class="col-bottom">
            <a href="mailto:marketinghead@pearson.com" ng-click="window.open( this.href, '_system');" /><button class=" button cta-pearson" style="margin:5px auto; width:230px">marketinghead@pearson.com</button></a> <br/>
            <a href="mailto:soporte@pearson.com" ng-click="window.open( this.href, '_system');"/><button class=" button cta-pearson" style="margin:5px auto; width:230px">soporte@pearson.com</button></a> <br/>
            <a href="http://goo.gl/oJluNl" ng-click="window.open( this.href, '_blank', 'location=yes');"><button class=" button cta-pearson" style="margin:5px auto; width:230px">www.pearsonenespanol.com</button></a> <br/>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
