<ion-view title="Registro">
  <ion-conten>
    <div class="list">
      <label class="item item-input">
        <span class="input-label" ng-model="user.name">Nombre</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label" ng-model="user.email">Correo</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label" ng-model="user.university">Universidad</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label" ng-model="user.location">Localidad</span>
        <input type="text">
      </label>
    </div>
    <div class="padding">
      <button class="button cta-pearson" ng-click="signUp(user)">
        Registrarme
      </button>
    </div>
  </ion-conten>
</ion-view>
