#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #002a3e;
}

.flb {
  background-color: #D4EAE4;
  height:100%;
  width:100%;
  animation: pulse 1s linear forwards;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: auto;
  animation: animation 3100ms linear infinite both;
  animation-delay: 1s;
   -webkit-transform:  scale(4);
      -moz-transform: scale(4);
      -o-transform:  scale(4);
      -ms-transform: scale(4);
      transform:  scale(4);
}

@keyframes ex4  { /* CSS3 */
	0%   {  transform:  scale(0.5); }
	50%  { transform:  scale(2); }
	100% { transform:  scale(4); }
}
@-moz-keyframes ex4  { /* Firefox */
	0%   {  -moz-transform:  scale(0.5); }
    	50%  { -moz-transform:  scale(2); }
    	100% { -moz-transform:  scale(4); }
}
@-webkit-keyframes ex4  { /* Webkit */
	0%   {  -webkit-transform:  scale(0.5); }
    	50%  { -webkit-transform:  scale(2); }
    	100% { -webkit-transform:  scale(4); }
}
.#custom-overlay img {
	animation:         ex4 1.5s linear infinite both; /* CSS3 */
	-moz-animation:    ex4 1.5s linear infinite both; /* Firefox */
	-webkit-animation: ex4 1.5s linear infinite both; /* Webkit */
}