#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #007da4;
}

.flb {
  background-color: #007da4;
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: auto;
 animation: animation 1000ms linear infinite both;
  animation-delay: 2s;
}

/*

@keyframes ex4  {
	0%   { transform:  scale(2); }
	50%  { transform:  scale(2); }
	90%  { transform:  scale(4); }
	100% { transform:  scale(20); }
}
@-moz-keyframes ex4  {
	0%   { -moz-transform:  scale(2); }
    50%  { -moz-transform:  scale(2); }
    90%  { -moz-transform:  scale(4); }
    100% { -moz-transform:  scale(20); }
}
@-webkit-keyframes ex4  {
	0%   {  -webkit-transform:  scale(2);}
    50%  { -webkit-transform:  scale(2); }
    90%  { -webkit-transform:  scale(4); }
    100% { -webkit-transform:  scale(20); }
}

#custom-overlay img {
	animation:         ex4 3s ease-in  ;
	-moz-animation:    ex4 3s ease-in  ;
	-webkit-animation: ex4 3s ease-in  ;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;

}


*/