#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #002a3e;
}

.flb {
  background-color: #D4EAE4;
  height:100%;
  width:100%;
  animation: 1.5s ease forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: auto;
 /* animation: animation 3100ms linear infinite both;
  animation-delay: 1s;  */
}

@keyframes ex4  { /* CSS3 */
	from   { transform:  scale(4); top:0px; }
	to { transform:  scale(20); top:60px;}
}
@-moz-keyframes ex4  { /* Firefox */
	from   { -moz-transform:  scale(4); top:0px; }
    to { -moz-transform:  scale(20); top:60px; }
}
@-webkit-keyframes ex4  { /* Webkit */
	from   {  -webkit-transform:  scale(4); top:0px; }
    to { -webkit-transform:  scale(20); top:60px; }
}
#custom-overlay img {
	animation:         ex4 4s ease infinite ; /* CSS3 */
	-moz-animation:    ex4 4s ease infinite ; /* Firefox */
	-webkit-animation: ex4 4s ease infinite ; /* Webkit */
	animation-direction: alternate;
	-webkit-animation-direction: alternate;

}