/* Empty. Add your own CSS if you like */

body {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    margin: 0;
    color: #666;
}

a{
text-decoration:none !important;
}

 .green{
    background: #D2DB0E !important;
  }

  .blue{
    background: #003057 !important;
  }

   .gray{
   background: #84BD00 important;
   }

  .white{
  color: #ffffff !important;
  }

  .lateral-menu-buttons{
    font-family: 'Playfair Display', serif !important;
    font-size: 13px !important;

  }

.cta-pearson{
  border-color: transparent;
  background-color: #EA067E;
  color: #fff;
  border-radius: 25px;
  font-size:14px;
  padding: 0 10px;
      min-height: 35px;
          line-height: 35px;
}

.cta-pearson:hover {
  color: #EA067E;
  background-color: #fff;
  text-decoration: none;
}

.solicitar{
  border-color: transparent;
  background-color: #EA067E;
  color: #fff;
  border-radius: 6px;
  font-size:14px;
  padding: 0 10px;
      min-height: 35px;
          line-height: 35px;
          width:100%;
}

.solicitar:hover {
  color: #FFF;
  background-color: #961f5d;
  text-decoration: none;
}

.image_slider_category{
 max-width: 120px !important;
 width:120px !important;
  position: relative;
  float: left;
  max-height: 140px;
  height:160px !important;
  margin-right: 10px;
  display:inline;
  }

 /* .scroll-horiz{
   width: 100%;
      height: 160px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .red{
   width: 1400px;
      height: 100%;
      background-color: #f3f3f3;
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;
  }
*/
  /*
  .div_for_image_slider{
  border-style:none;padding:0;
   margin:0;
    display:inline;
    width:100%;
     height:160px !important;
     overflow-x:scroll
  }
*/

.ion-scroll-hor{
width: 400px;
height: 160px;
}

.inside-div{
width: 1400px;
height: 160px;
}

.image_slide_title{
  max-width: 250px !important;
  height: auto !important;
}

.mision, .catalogo_universitario, .ciencias_sociales, .ciencias_y_matematicas, .ingenieria_y_computacion, .productos_digitales, .administracion_general, .custom, .green_about_us {
  bottom: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: 100vh;
  right: 0;
  top: 0;
}

.mision{
  background: #c0e1da;
}

.mision_h2{
    font-size: 2.5em;
    margin-top: 0.5em;
    font-family: 'Playfair Display', serif !important;
    color: #003057;
}

.mision_p{
    color: #003057;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom:10px
}

.administracion_general {
  background: url('../img/bckgr_administracion_general.jpg') center right;
  background-size:cover
}

.catalogo_universitario {
  background: #c0e0db;
  background-size:cover;
}


.catalogo_universitario_img {
  margin: 0 auto;
}


 .productos_digitales {
  background: url('../img/bckgr_productos_digitales.jpg') center right;
  background-size:cover
}

.ingenieria_y_computacion {
  background: url('../img/bckgr_ingenieria_y_computacion.jpg') center right;
  background-size:cover
}

 .ciencias_y_matematicas {
  background: url('../img/bckgr_ciencias_y_matematicas.jpg') center right;
  background-size:cover
}

.ciencias_sociales {
  background: url('../img/bckgr_ciencias_sociales.jpg') center right;
  background-size:cover
}

.custom {
  background: url('../img/bckgr_custom.jpg') center right;
  background-size:cover
}

.green_about_us{
    background: #c0e1da !important;
      background-size:cover
}

.acerca_de_pearson{
    background: #c0e1da !important;
}

.acerca_de_pearson p{
color: #003057 !important
}

.acerca_de_pearson p span.italic{
color: #003057 !important;
    font-style:italic;
}

.fingerprint_about_us{
  background: url('../img/fingerprint_about_us-01.png') center ;
  background-repeat: no-repeat;
   width: 100%;
      height: 400px;
  margin: 0 auto;
  padding:10px;
  margin:10px;
}

.margin_responsive_about_us{
margin-top:10%
}

.margin_responsive_about_us h5 a{
color: #505759;
}

.svg_image_slide{
  top: 0 !important;
  left: 0 !important;
  max-width: 250px !important;
  width: 250px !important;
  height:auto;
}

.swiper-pagination-bullet {
  background: #EA067E !important;
  border: 1px solid #FFF;
  width: 15px;
  height: 15px;
}

.bar-green{
  background: #D2DB0E;
}

.title{
  font-family: 'Playfair Display', serif !important;
}

.buscador{
  -moz-border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  border-radius: 25px !important;
  border-style: solid !important;
  border-color: #EA067E !important;
  border-width:1px !important;
}

h3.book-title, .detail-book-title{
  color:#007FA3;
  font-size: 18px;
  margin-bottom:0;
  padding-top:5px;
  white-space: normal !important;
}

.item p {
    white-space: normal;
    font-size: 10px;
}

.book-title{
  color:#007FA3;
  font-size: 16px;
}

p.book-area{
  color:#505759;
  font-size: 14px;
      margin: 0 0 4px;
      font-weight: 600;
}

.book-author {
  border-top:1px solid #505759;
    color:#505759;
        font-size: 10px;
}

.detail-book-author {
    border-left: 1px solid #505759;
    color: #505759;
    font-size: 10px;
    text-align:center;
    padding: 3px;
    margin: 3px;
}

.box-title{
  -webkit-box-shadow: 0px -1px 9px 2px rgba(194,194,194,1);
-moz-box-shadow: 0px -1px 9px 2px rgba(194,194,194,1);
box-shadow: 0px -1px 9px 2px rgba(194,194,194,1);
  background:#fff;
  max-width:95%;
  margin: 5px auto;
    transition: all 0.5s ease;

}

.box-title:hover{
background: #007FA3;
cursor:pointer;
}


.box-title:hover>.col-75 h3{
color: #fff;
}

.box-title:hover>.col-75 p.book-author {
border-top: 1px solid #FFF;
color: #fff;
}

.box-title:hover>.col-75 p.book-area{
color: #fff;
}


/*
h3.book-title:hover, p.book-area:hover, p.book-author:hover {
color: #fff;
}

*/
.tags {
    left: 3px;
    bottom: -3px;
    list-style: none;
    position: relative;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
}

	.tags li, .tags span{
    	float:right;
    	height:20px;
    	line-height:20px;
    	position:relative;
    	font-size:9px;
    	color:#fff !important;
    	margin:3px;
    	font-weight:600;
    	}

    	.tags span.atributo-lista{
        	margin:5px;
        	padding:0 7px 0 7px;
        	background:#003057;
        	font-size:11px,
        	color:#fff;
        	text-decoration:none;
        	-moz-border-radius-bottomright:4px;
        	-webkit-border-bottom-right-radius:4px;
        	border-bottom-right-radius:4px;
        	-moz-border-radius-topright:4px;
        	-webkit-border-top-right-radius:4px;
        	border-top-right-radius:4px;
        	}


        	.tags span.atributo-lista:before{
            	content:"";
            	float:left;
            	position:absolute;
            	top:0;
            	left:-12px;
            	width:0;
            	height:0;
            	border-color:transparent #003057 transparent transparent;
            	border-style:solid;
            	    border-width: 10px 12px 10px 0;
            	}


.tags span.atributo-lista:after{
	content:"";
	position:absolute;
	top:8px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #003057;
	-webkit-box-shadow:-1px -1px 2px #003057;
	box-shadow:-1px -1px 2px #003057;
	}


	.tags span.more-info{
                    margin: 4px;
                    padding: 0 4px 0 4px;
                    background: #EA067E;
                    font-size: 11px, color:#fff;
                    text-decoration: none;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    border-radius: 4px;
                    width: 100%;
                    text-align: center;
            	}


            /*	.tags span.more-info:before{
                	content:"";
                	float:left;
                	position:absolute;
                	top:0;
                	left:-12px;
                	width:0;
                	height:0;
                	border-color:transparent #EA067E transparent transparent;
                	border-style:solid;
                	    border-width: 10px 12px 10px 0;
                	}


    .tags span.more-info:after{
    	content:"";
    	position:absolute;
    	top: 8px;
    	left:0;
    	float:left;
    	width:4px;
    	height:4px;
    	-moz-border-radius:2px;
    	-webkit-border-radius:2px;
    	border-radius:2px;
    	background:#fff;
    	-moz-box-shadow:-1px -1px 2px #EA067E;
    	-webkit-box-shadow:-1px -1px 2px #EA067E;
    	box-shadow:-1px -1px 2px #EA067E;
    	}
*/

.book-cta{
    background: #003057;
    color: #fff;
    font-size:11px,
}



.list-books{
      background: #f2f2f2;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  -webkit-box-shadow: inset 0px 3px 5px 0px rgba(87,87,87,0.6);
-moz-box-shadow: inset 0px 3px 5px 0px rgba(87,87,87,0.6);
box-shadow: inset 0px 3px 5px 0px rgba(87,87,87,0.6);
}

.ebook-cta{
  background: #003057;
  padding:6px 10px;
  margin:3px;
  color: #fff;
   -moz-border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  border-radius: 25px !important;
 font-size:12px;
  text-align:center;
      float: left;
    position: relative;
}




.bottom-items{
  background: #fff;
  padding:0px !important;
  height:80px;
}

.novedades:hover{
  background: #02213b;
  }

.novedades{
  background: #003057;
  padding-top:20px;
   transition: all 0.5s ease;
  }

  .novedades h2{
  color: #D2DB0E;
  text-align: center;
  font-family: 'Playfair Display', serif !important;

  }

.best-seller{
background: #505759;
  padding-top:20px;
  min-height: 250px;
      transition: all 0.5s ease;

}



.best-seller:hover{
background: #2a2f31;
}

.best-seller img, .novedades img{
    min-height: 200px;
    left: 0;
    position: relative;
    float: left;
    height: 200px;
}

.best-seller h3, .novedades h3{
   color:#fff;
  text-align:center;
}


.image_book{
  height: auto;
  width: auto;
  display: block;
  margin: auto;

}

.book-content-year, .book-content-area{
  background: #005A70 !important;
   padding:6px 10px;
   margin:3px;
   color: #fff;
    -moz-border-radius: 25px !important;
   -webkit-border-radius: 25px !important;
   border-radius: 25px !important;
  font-size:12px;
   text-align:center;
       float: left;
     position: relative;
     }

.bar-stable .button.button-icon, .bar.bar-stable .title, .button .icon {
     color: #fff !important;
 }

 h1.black{
 color:#444 !important;
 }



.title-detail{
font-family: 'Playfair Display', serif !important;
    font-size: 15px !important;
}

.input-label-registro{
font-size: 12px;
}

.error_input{
    color: red;
    font-size: 12px;
    text-align: left;
    position: absolute;
    right: 14px;
}
.center_about_us{
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#Content.tabcontent>p>ul{
list-style-type: circle;
    padding-left: 20px;
}

.content-books-div{
width: 100% !important;
}

.detail-icon .icon{
        width: 40px;
        height: 40px;
        background-color: #EA067E;
        border-radius: 50%;
        padding: 7px;
        margin: 5px;
        color: #fff;
        font-size: 23px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        float: left;
    }

    .image-book-detail{
      height: auto;
      width: auto;
      display: block;
      margin: auto;
        box-shadow: 0px 1px 6px #aeaeae;
    }

    .detail-icon{
   -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       -moz-align-items: center;
       width: 160px;
       margin: 0 auto;
       text-align: center;
    }

    #infoDiv ul li{
    list-style: circle;
        padding-left: 2px;
        margin-left: 15px;
    }

@media (max-width:1440px) and (min-width:1201px) {
.ion-scroll-hor {
    width: 900px;
}
}

@media (max-width:1200px) and (min-width:769px) {
.ion-scroll-hor {
    width: y 700px;
}
}


@media (max-width:768px) and (min-width:420px) {
.catalogo_universitario_img{
max-width:400px !important;
}

}

@media (max-width:680px) and (min-width:414px) {
.margin_responsive_about_us{
margin-top:20%;
}

}


@media (max-width:413px) and (min-width:260px) {
.margin_responsive_about_us{
margin-top:30%;
}
}


